<div class="ui-header">
    <h1>
        <a routerLink="">Angular 7</a>
    </h1>
    <div class="actions">
        <ul>
            <li>
                <a routerLink="">Accueil</a>
            </li>
            <li *ngIf="user">
                {{user.username}}
                <ul>
                    <li *ngIf="user.role === 'admin'">
                        <a routerLink="/news/admin">Administration</a>
                    </li>
                    <li>
                        <a routerLink="/authentication">Déconnexion</a>
                    </li>
                </ul>
            </li>
            <li *ngIf="!user">
                <a routerLink="/authentication">Connexion</a>
            </li>
        </ul>
        <div>
        </div>

    </div>
</div>