<div class="manage-article">
    <h3>Gestion des articles</h3>
    <div class="actions">
        <button type="button" class="btn btn-primary" (click)="addArticle()">Ajouter un article</button>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Edition</th>
                <th>Suppression</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let article of (articles$ | async)">
                <td>
                    {{article.title}}
                </td>
                <td>
                    {{article.author.fullName}}
                </td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="editArticle(article)">
                        Editer
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="removeArticle(article)">
                        Supprimer
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>